# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE files
.idea/
*.iml

# Compiled Python files
*.pyc
*.pyo

# Logs and temporary files
*.log
*.swp
*.tmp
.DS_Store

# Pyinstaller
build/
dist/
*.spec

# Test File
*.xlsx